html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeea;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
pre {
  font-family: Courier New, Courier, monospace;
}
body, pre {
  margin: 0;
  padding: 0;
}

.indent {
  margin-left: 1em; /* maybe padding? */
}

div.load_progress {
  background-color: lime;
  display: block;
  width: 0;
  height: 1em;
  display: none;
  margin-top: 4px;
}

div {
  margin: 0;
  padding: 0;
}
.topbar > h2 {
  margin: 0;
  padding: 0;
  font-size-adjust: 0.3;
  display: inline;
}

div.section {
  display: none;
  margin: 16%;
  padding: 2em;
  align-self: center;
  border: solid 1px gray;
}

div.results {
  font-family: Courier New, Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: white;
  white-space: nowrap;
  border: none;
}

div.log_line {
  cursor: pointer;
  padding: 0 0 0 1em
}
div.log_line.focused {
  outline: solid 1px;
}
div.log_line.expanded.revealer {
  font-style: italic;
  color: blue;
}
div.log_line.checked {
  font-weight: bold;
}
div.log_line.expanded.shared {
  color: red;
}
div.log_line.expanded.summary,
div.log_line.checked.summary {
  font-weight: bolder;
  color: black;
}
div.log_line.past_capture_limit:before {
  content: '\258E';
  color: red;
  position: absolute;
  left: 0;
  font-style: normal;
}

div.log_line input[type="checkbox"] {
  position: absolute;
}
div.log_line span,
div.log_line pre {
  margin-left: 2em;
}

div.topbar {
  display: none;
  margin: 0;
  padding: 0.25em;
  border-bottom: solid 1px gray;
}

div.button_container {
  margin: 1em auto 0 auto;
  display: block;
  text-align: center;
}
input.button.big {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
input.button.big.narrow {
  padding-left: 8px;
  padding-right: 8px;
}
.topbar > div.button_container {
  margin: .5em;
  position: relative;
  float: right;
  top: -61px;
  right: 1em;
}

label:not(.tail) {
  display: inline-block;
  min-width: 10em;
  text-align: right;
}
.topbar label {
  font-size-adjust: 0.5;
}

input[type=text],
select {
  border: solid 1px gray;
  margin: 0.25em;
}

input[type=text]{
  width: 15em;
}
select:not(.narrow) {
  width: 12em;
}
