html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d5d5d5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
pre {
  font-family: Courier New, Courier, monospace;
}
body, pre {
  margin: 0;
  padding: 0;
}

.indent {
  margin-left: 1em; /* maybe padding? */
}

div {
  margin: 0;
  padding: 0;
}
.topbar > h2 {
  margin: 0;
  padding: 0;
  font-size-adjust: 0.3;
  display: inline;
}

span#introduction {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size-adjust: 0.4;
}
.topbar span#introduction {
  display: none;
}
#introduction > p {
  margin-top: 0;
}

#warnings {
  font-size-adjust: 0.4;
  padding: 0.2em;
  background-color: #f2f25a;
  display: none;
}

div.load_progress {
  background-color: #008CBA;
  display: block;
  width: 0;
  height: 1em;
  display: none;
  margin-top: 4px;
}

div.section {
  background-color: #eeeeea;
  display: none;
  margin: 15%;
  padding: 2em;
  align-self: center;
  border: solid 1px;
}

div#tools {
  position: absolute;
  top: 2px;
  right: .5em;
}

div#error_section {
  background-color: red;
  color: white;
  font-weight: bold;
  white-space: pre-line;  
}

div.results {
  font-family: Courier New, Courier, monospace;
  margin: 0;
  padding: 0.125em 0;
  background-color: white;
  white-space: nowrap;
  border: none;
  position: relative; /* this is just in case we want to place some position:absolute children over the results (like browser from fusion) */
  font-size: 12px;
}
div.results:empty {
  padding: 0;
}

div.log_line {
  padding: 0;
}
div.log_line:hover:not(.expanded) {
  font-weight: bold;
}
div.log_line.focused {
  outline: solid 1px;
}
div.log_line.expanded.revealer {
  font-style: italic;
  color: blue;
}
div.log_line.checked {
  font-weight: bold;
}
div.log_line.expanded.shared {
  color: darkred;
}
div.log_line.expanded.summary,
div.log_line.checked.summary {
  font-weight: bolder;
  color: black !important;
}
div.log_line.past_capture_limit:before {
  content: '\2588';
  color: red;
  position: absolute;
  left: 0;
  font-style: normal;
  text-shadow: 1px 2px 2px black;
}

div.log_line input[type="checkbox"] {
  position: absolute;
  margin: 0;
}

span.checker:before {
  color: black !important;
  font-weight: normal !important;
  font-style: normal !important;
  
  content: '\2610';
  /* content: '\26AA'; */
  margin: 0;
  padding: 0 1em;

  position: absolute;
  cursor: pointer;
}
span.checker.expanded:before {
  content: '\2611';
  /* content: '\26AB'; */
}

div.log_line > span:not(.checker) {
  margin-left: 3em;
}
span.branch > span:not(.checker) {
  margin-left: .5em;
}

span.pre {
  white-space: pre;
}
span.bold {
  font-weight: bold;
}

div.topbar {
  display: none;
  margin: 0;
  padding: 0.25em;
  border-bottom: solid 1px gray;
}

div.button_container {
  margin: 1em auto 0 auto;
  display: block;
  text-align: center;
}
.topbar > div.button_container {
  margin: .5em;
  position: relative;
  float: right;
  top: -61px;
  right: 1em;
}

input.button {
  cursor: pointer;
  z-index: 100;
}
input.button.close {
  position: absolute;
  top: 0.5em;
  right: 0;
  color: rgb(194, 0, 0);
}
input.button.big {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input.button.big:disabled {
  background-color: #C0C0C0;
}
input:disabled {
  cursor: not-allowed;
}
input.button.big.narrow {
  padding-left: 8px;
  padding-right: 8px;
}
input.button.icon:hover {
  text-decoration: underline;
}
input.button.icon {
  border: none;
  background: none;
  padding: 0;
  margin: 0 0.5em;
}
input.button.decent {
  padding: 0;
}

label:not(.tail) {
  display: inline-block;
  min-width: 10em;
  text-align: right;
}
.topbar label {
  font-size-adjust: 0.5;
}

input[type=text],
select {
  border: solid 1px gray;
  margin: 0.25em;
}

input[type=text]{
  width: 15em;
}
select:not(.narrow) {
  width: 12em;
}

div.flow_root {
  display: flow-root;
}
div.flow_root.searches {
  font-size-adjust: 0.5;
}

div#searches {
  display: none;
}

div#active_searches:empty:before {
  content: 'no search performed';
  padding-left: .5em;
}
div#active_searches:empty {
  border-bottom: none;
  background-color: inherit;
}
div#active_searches {
  display: inline;
}

div.search:before {
  content: '\1f50d';
  font-size-adjust: 0.4;
}
div.search {
  display: inline-block;
  white-space: nowrap;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  padding: 0 0 .125em .5em;
}

.red {
  color: rgb(194, 0, 0);
}

div#seek {
  position: absolute;
  right: 0;
  top: .5em;
  display: inline-flex;
}

input#seek_to_tail {
  display: none;
  color: rgb(194, 0, 0);
  font-weight: bold;
}

div#breadcrumbs {
  min-height: 2.2em;
  font-size: 12px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: rgba(255,255,255,0.8);
  border-top: solid 1px gray;
  margin-top: -1px;
}

/* :has in unsupported?
div#breadcrumbs:has(.breadcrumb_details) {
  padding-bottom: 1em;
}
*/

#breadcrumbs span.branch {
  display: inline-block;
  padding: 0 0 0 0.5em;
  border-bottom: solid 1px;
  border-right: solid 1px;
  margin: 0.3em;
  cursor: pointer;
}
#breadcrumbs span.branch.child:before {
  content: '\279c';
}
#breadcrumbs span.branch.parent:before {
  content: '\25FC';
}

#breadcrumbs span.branch.parent:not(:first-child) {
  clear: left;
}

div.breadcrumb_details {
  padding: 1em 2em 1em 1em;
  margin: 0 auto;
  border: 1px solid gray;
  max-width: 61%;
  position: relative; /* to allow the close button positioning */
}

#breadcrumbs > input {
  position: absolute;
  right: 0.5em;
  top: 0.25em;
}

#map {
  display: none;
  width: 100%;
  height: 600px;
}
#show_map {
  display: none;
}

div.vis-network {
  position: absolute !important;
}

div#netdiag_section {
  width: 100%;
  position: relative;
}

div.netd-socket {
  position: relative;
  background-color: lightblue;
}

div.netd-result {
  padding: 1em;
  border-bottom: solid 1px;
}

div[data-collapse='accordion'] h3 a {
  color: black;
  text-decoration: none;
}
div[data-collapse='accordion'] h3 {
  padding: 0.5em;
  font-size: 12px;
  background-color: whitesmoke;
  margin: 0;
}

div[data-collapse='accordion'] h3.open a:before {
  content: ' \ff0d ';
}
div[data-collapse='accordion'] h3.close a:before {
  content: ' \ff0b ';
}
div.netd-result > div {
  font-size: 12px;
}

#netdiag_section h3 > a > span {
  color: blue;
}
